<!DOCTYPE html>

<html>
    <head>
        <title>CBT PROJECT</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div>
            <%- include(page); %>
        </div>
    </body>
</html>