<section>
    <div>
        <div>
            <form method="" action="">
                <select>
                    <option value="15">15 회차</option>
                    <option value="16">16 회차</option>
                    <option value="17">17 회차</option>
                    <option value="18">18 회차</option>
                    <option value="19">19 회차</option>
                    <option value="20">20 회차</option>
                    <option value="21">21 회차</option>
                    <option value="22">22 회차</option>
                    <option value="23">23 회차</option>
                    <option value="24">24 회차</option>
                </select>

                <button type="submit" >문제 풀기</button>
            </form>
        </div>
    </div>
    <div>

    </div>
</section>